@font-face {
  font-family: 'Domaine Display Narrow Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Domaine Display Narrow Regular'), url('./fonts/DomaineDispNar-Regular.woff') format('woff');
  }

@font-face {
  font-family: 'Roboto Mono Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono Regular'), url('./fonts/RobotoMono-Regular.ttf') format('ttf');
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
