.selectedHeading {
  font-family: 'Domaine Display Narrow Regular', serif;
  font-size: 1.6rem;
  font-weight: 200;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-bottom: 10px;
  color: rgba(0,0,0,0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.selectedItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  list-style-type: none;
  justify-content: space-between;
}

.removeButton {
  background-color: rgba(100,100,100,0.5);
  min-height: 100%;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.removeButton:hover {
  background-color: rgba(179, 19, 19, 0.5);
  cursor: pointer;
}

.removeButton:hover {
  cursor: pointer;
}

.selectedList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selectedItem {
  padding: 4px 0 20px 0;
}

.selectedItem:nth-child(1) {
  padding-top: 0px;
}

.selectedItem:nth-child(1n) {
  border-bottom: 1px dotted #4c4c4c;
}

.selectedItem:last-child {
  border-bottom: none;
}

.itemName {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: rgba(0,0,0,0.87);
  font-weight: 400;
  margin-bottom: 5px;
}

.itemPriceRange {
  font-family: "Apercu", "Inter", "Helvetica", "Arial", sans-serif;
  color: #4c4c4c;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.itemId {
  font-family: "Apercu", "Inter", "Helvetica", "Arial", sans-serif;
  color: #4c4c4c;
  font-weight: 400;
  font-size: 0.7rem;
}